<%= provide(:title, "Copyright") %>
<%= render 'partials/static_pages_header' %>
<div class="landing-container">
  <div class="landing-content">

  </div>
</div>
<%= render 'partials/static_pages_footer' %>
