<%= provide(:title, "Terms of Use") %>
<%= render 'partials/static_pages_header' %>
<div class="landing-container">
  <div class="landing-content">
    <p><strong>Acceptance of the Use of Beats Realm Terms of Service</strong></p>

    <p>Your access to and use of Beats Realm is subject exclusively to these Terms of Service. You will not use the Website for any purpose that is unlawful or prohibited by these Terms of Service. By using the Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not accept these Terms of Service you must immediately stop using the Website.</p>

    <p><h3>Credit card details</h3></p>

    <p>Beats Realm will never ask for Credit Card details and request that you do not enter it on any of the forms on Beats Realm.</p>

    <p><h3>Advice</h3></p>

    <p>The contents of Beats Realm website do not constitute advice and should not be relied upon in making or refraining from making, any decision.</p>

    <p><h3>Change of Use</h3></p>

    <p><strong>Beats Realm reserves the right to:</strong></p>

    <p>change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that Beats Realm shall not be liable to you for any such change or removal and.
     <p>change these Terms of Service at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.

     <p><h3>Links to Third Party Websites</h3></p>

    <p>Beats Realm Website may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>

    <p><strong>Copyright</strong></p>

    <p>All copyright, trade marks and all other intellectual property rights in the Website and its content (including without limitation the Website design, text, graphics and all software and source codes connected with the Website) are owned by or licensed to Beats Realm or otherwise used by Beats Realm as permitted by law.</p>
    <p>In accessing the Website you agree that you will access the content solely for your personal, non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder. This excludes the downloading, copying and/or printing of pages of the Website for personal, non-commercial home use only.</p>

    <p><strong>Disclaimers and Limitation of Liability</strong></p>

    <p>The Website is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</p>
    <p>To the extent permitted by law, Beats Realm will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website.</p>
    <p>Beats Realm makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.</p>
    <p>Nothing in these Terms of Service shall be construed so as to exclude or limit the liability of Beats Realm for death or personal injury as a result of the negligence of Beats Realm or that of its employees or agents.</p>

    <p><strong>Indemnity</strong></p>


    <p>You agree to indemnify and hold Beats Realm and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against Beats Realm arising out of any breach by you of these Terms of Service or other liabilities arising out of your use of this Website.</p>

    <p><strong>Severance</strong></p>

    <p>If any of these Terms of Service should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms of Service shall survive and remain in full force and effect and continue to be binding and enforceable.</p>

    <p><strong>Governing Law</strong></p>

    <p>These Terms of Service shall be governed by and construed in accordance with the law of the United States of America and you hereby submit to the exclusive jurisdiction of the United States of America courts.</p>

    <p><strong>Contacting Us</strong></p>

    <p>If there are any questions regarding these Terms of Service you may contact us using the information below.</p>

    <p>Beats Realm Contact</p>
    <p>Alex Heil</p>
    <p>12068 MILLION DOLLAR HWY</p>
    <p>MEDINA, NEW YORK 14103</p>
    <p>alexheil@beatsrealm.com</p>
  </div>
</div>
<%= render 'partials/static_pages_footer' %>
