// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* MIXINS, VARIABLES, ETC... */

$links: #1DE9B6;
$normal-font: Georgia, "Times New Roman", Times, serif;
$fancy-font: "Open Sans", Helvetica, sans-serif;
$browser-width: 1170px;

/* *************** UNIVERSAL STATIC PAGES ************************ */

.static-pages-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ***************************** HOME ******************************* */

.jumbotron {
  width: 1170px;
  height: 510px;
  border: 1px solid #212121;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin: 50px auto;
  text-align: center;
  line-height: 510px;
  font-family: $fancy-font;
  font-weight: 100;
  font-size: 225px;
}

.home-mini-title {
  font-family: $fancy-font;
  margin: 25px 0;
  font-weight: 700;
}

/* SIGNU UP PAGE */

.i-am {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 3em;
  text-align: center;
  font-family: $fancy-font;
  font-weight: 300;
}

@mixin signup-text {
  height: 250px;
  padding: 0 165px 0 165px;
  line-height: 250px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px;
  border: 2px solid #212121;
  font-size: 3em;
  font-family: $fancy-font;
  font-weight: 300;
  color: #212121;
}

.signup-text-left {
  @include signup-text;
  margin-left: 125px;
  float: left;
  &:hover {
    background-color: #212121;
    color: #1DE9B6;
  }
}

.signup-text-right {
  @include signup-text;
  margin-right: 125px;
  float: right;
  &:hover {
    background-color: #212121;
    color: #1DE9B6;
  }
}

/* **************** FAQ ******************* */

.faq-mini-headlines {
  font-family: $fancy-font;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.faq-minier-headlines {
  font-family: $fancy-font;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 15px;
}
